<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eecs393team.eecs3933dapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateMain"
            android:label="Create"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.MainActivity" />
        </activity>
        <activity
            android:name=".ScanActivity"
            android:label="Scan"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.MainActivity" />
        </activity>
        <activity
            android:name=".VideoCapture"
            android:label="Video"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.MainActivity" />
        </activity>
        <activity
            android:name=".PrintMain"
            android:label="@string/title_activity_print_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.MainActivity" />
        </activity>
        <activity
            android:name=".CalibrationActivity"
            android:screenOrientation="landscape"
            android:label="Calibration"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.MainActivity" />
        </activity>
        <activity
            android:name=".STLViewActivity"
            android:label="@string/title_activity_stlview"
            android:parentActivityName=".Gallery"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.Gallery" />
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".STLViewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.STLViewActivity" />
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eecs393team.eecs3933dapp.MainActivity" />
        </activity>
    </application>

</manifest>
